<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">Instacart Quiz</h1>
	</div>
	<div class="large-6 large-centered columns">
		<h2>The Rules of Engagement:</h2>
		<ol>
			<li>You have 2 minutes to finish the quiz.</li>
			<li>You will be presented with a prompt and 4 images. Select the image that corresponds with the prompt and press submit.</li>
			<li>Continue until all questions have been answered or the 2 minutes are up.</li>
			<li>Enter your email, then click 'Start Quiz' to begin.</li>
		</ol>
	</div>
	<div class="large-6 large-centered columns">
		<%= form_for :quiz do |f| %>
			<div class="row">
			<div class="large-9 columns">
				<%= text_field_tag 'email', nil, :placeholder => 'youremail@example.com' %>
			</div>
			<div class="large-3 columns">
				<%= f.submit 'Start Quiz', :class => 'button small' %>
			</div>
		</div>
		<% end %>
	</div>
</div>